@inject IBananaService BananaService
@implements IDisposable

<div class="top-menu">
    <img src="/icons/banana.png" />
    <span class="popover-header">
    @BananaService.Bananas
    </span>
    <AddBananas BananasAdded="AddBananas" />
</div>




@code {
    [Parameter]
    public int bananas { get; set; } = 100;

    
    //Subscribe to an event
    protected override void OnInitialized()
    {
        BananaService.OnChange += StateHasChanged;
    }

    public void AddBananas(int value)
    {
        bananas += value;
    }

    //UnSubscribed to an event
    public void Dispose()
    {
        BananaService.OnChange -= StateHasChanged;
    }
}